body{
    background-color:yellowgreen;
}
.title {
    width: 60%;
    background-color:forestgreen;
    color: yellow;
}
.add{
    width: 60%;
    height: 600px;
    background-color:forestgreen;
    color: yellow;
}
input {
    border-radius:5px;
    width: 75%;
    margin-top: 2%;
    font-size: 31px;
    color: yellow;
    background-color: yellowgreen;
}
.addBtn {
    padding:3px;
    width: 21%;
    background: yellowgreen;
    color: yellow;
    border: none;
    text-align: center;
    font-size: 30px;
    border-radius: 8px;
    transition: 0.3s;
     border: 1px solid grey; 
}

.addBtn:hover {
    background-color: yellow;
    color: yellowgreen;
}
.btn {
    padding:3px;
    width: 21%;
    background: yellowgreen;
    color: yellow;
    border: none;
    text-align: center;
    font-size: 30px;
    border-radius: 8px;
    transition: 0.3s;
    float: right;
    border: 1px solid grey; 
}